@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #1c448e;
    --secondary-color: #C6F4Fa;
    --accent1-color: #2d6233;
    --accent2-color: #00ccb1;

    --heading-font: Anton, Impact, sans-serif;
    --paragraph-font: Lato, Helvetica, sans-serif;
    --callout-font: "Shadows Into Light", cursive;
    
    --nav-background-color: #C6F4FA;
    --nav-link-color: #2d6233;
    --nav-hover-link-color: #1c448e;
    --nav-hover-background-color: #00ccb1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    background-color: var(--accent1-color);
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--nav-background-color);
    border-radius: 1em;
    margin-bottom: 1em;
}

nav {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border-radius: 1em;

}
nav a:hover {
    font-style: italic;
}
p {
    padding: 25px;
}


nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}
section {
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
}
section h1 {
    display: block;
    text-align: center;
}
.social-media img {
    width: 3rem;
}

.social-media a {
    text-decoration: none;
}

.hero {
    width: 100%;
    position: relative;
    background-image: url("../images/rafting63_1024.jpg");
    height: 600px;
    align-content: center;
    border-radius: 1em;
}


.hero h1 {
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: var(--accent2-color);
    font-size: 4rem;
}

.hero article {
    background-color: var(--secondary-color);
    height: 10rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1em;
}
.hero article h3 {
    margin: 0;
    padding: 0;
}
.hero article img {
    float: right;
    height: 100%;
    margin: 0;

}
.hero article p {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

section h2 {
    display: block;
    text-align: center;
}
.history div {
    align-items: start;
}
.history div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.history div img {
    width: 100%;
}
.history div p {
    padding: 0;
    border: 0;
    margin: 0
}
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.adventures figure img{
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-top: 1em;
}
.social-media {
    display: flex;
    justify-content: flex-end;
}
.contact-info iframe{

    border-radius: 1em; 
    width: 100%;

}
.contact-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2em;
}

.staff div {
    display: flex;
    flex-wrap: wrap;
    
}
.staff figure {
    text-align: center;
    flex: 1 1 0;
    width: 0;
}
.staff img {
    border-radius: 1em;
}
form {
    display: grid;
    gap: 0px;
    margin: 0 auto;
    width: 300px;
}

.purpose {
    border: 0;
    margin: 1em 0 1em 0;
    padding: 0;
}
button {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1em;
    font-size: larger;
    border-radius: 1em;
}
button:hover {
    background-color: var(--accent1-color);
}
.subscribe {
    display: flex;
    align-items: start;
    margin: 1em 0 1em 0;   
}


