* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #85CCFF;
    padding: 10px;
}
nav a {
    color: #163564;
    display: block;
    padding: 20px;
}
h1 {
    color: #163564;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid #85CCFF;
    box-shadow: 0 0 30px #163564;
    margin-left: 1rem;
    float: right;
}
p {
    padding: 0;
}
main {
    width: 600px;
    margin:1rem;
}
aside {
    margin: 1rem;
    padding: 1em;
    position: relative;
}
aside img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #163564;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    /* margin: 1rem; */
    
}
footer {
    margin-top: 10px;
    border-top: 1px solid #3a2317;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px #163564;
    padding: 1rem;
    background-color: #85CCFF;
    color: #163564;
    width: 20rem;
}